/*
    Бургер-меню - иконка при адаптивном скрытии Главного бокового меню.
    Элемент располагаем перед всем контентом, чтобы на попал в схему построения.
*/

.burger-container {
    position: fixed;
    width: 100%;
    height: 35px;
    background: rgba(0, 0, 0, 0.04);
    z-index: 10;
    opacity: 0;
}

.burger-icon {
    position: absolute;
    top: 0;
    left: 10px;
    cursor: pointer;
}

.burger-icon__item {
    margin-top: 5px;
    width: 30px;
    height: 5px;
    background: #333333;
    border-radius: 2px;
}

/*
    MAIN-MENU: Главное боковое меню
*/

/* комбинир. селектор для установки свойства opacity или transform или др. через if в JS */
.main-menu-grid.menu_visible {
    transform: translate(0);
    /*   opacity: 1;*/
}

.main-menu-grid {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%; /*422px;*/
    padding: 2% 0 0;
    background: rgba(0, 0, 0, 0.04);
    display: grid;
    grid-template: 169px 100px auto / auto; /*169px 100px auto*/
    justify-items: center;
    align-items: start;
}

.my-icon-wrapper {
    width: 160px;
    height: 160px;
    border-radius: 253px;
    background: no-repeat 50% 10% /100% url("../home_images/my_photo.jpg");
}

.my-icon-signature {
    text-align: center;
    font: 400 24px/36px "Poppins", sans-serif;
    color: #000000;
}

.menu-list {
    list-style-type: none;
}

.menu-item {
    margin-bottom: 14px;
    text-align: center;
}

.menu-item_font {
    font: 400 16px/29px "Montserrat", sans-serif;
    text-transform: none;
    letter-spacing: 0;
}

/*
    HEADER страниц
*/

.header {
    background: #ccb78f;
    padding: 5% 7% 0 25%; /* расчет в %% от 1498px*/
    box-sizing: border-box;
}

.nav-top-bar {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    /* мин-допустимая ширина для адаптива, после чего - скроллинг */
    min-width: 200px;
    /* макс-допустимая высота для добавления пунктов меню */
    max-height: 90px;
    margin-bottom: 10px;
    text-transform: uppercase;
    overflow: hidden;
}

.link_subline {
    position: relative;
    margin-right: 13px;
}

.link_subline::after {
    position: absolute;
    content: "";
    top: 20px;
    left: 0;
    height: 2px;
    width: 100%;
    box-sizing: border-box;
    background-color: #000000;
    opacity: 0;
    transition: opacity 0.3s ease-out 0.1s;
}

.link_subline:hover::after {
    opacity: 1;
    transition: opacity 0.3s ease-out 0.1s;
}

.header__title {
    font: 700 40px/60px "Poppins", sans-serif;
    letter-spacing: 1px;
    color: #000000;
    margin-bottom: 60px;
}

/*
    FOOTER страниц
*/

footer {
    background: #242423;
    padding: 5% 9%; /* расчет в %% от 1498px по аналогии с main */
    box-sizing: border-box;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    grid-auto-flow: row;
}

.portfolio-head {
    box-sizing: border-box;
    padding-bottom: 56px;
    font: 16px/24px "Poppins", sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #ffffff;
}

.portfolio-block {
    display: grid;
    grid-template-columns: repeat(auto-fit, 33.33%); /*minmax(33.33%, auto));*/
    grid-auto-flow: row;
}

.portfolio-block img {
    width: 100%;
    height: 100%;
}

.contact-container {
    justify-self: end;
}

.contact-details {
    display: grid;
    grid-template: repeat(3, 42px) / auto;
    justify-items: start;
    row-gap: 17px;
    width: 290px;
}

.link-figure {
    display: inline-block;
    width: 20px;
    margin-right: 21px;
    vertical-align: middle;
}

.contact-details__item {
    display: inline-block;
    vertical-align: top;
    width: 233px;
}

.position-rights {
    margin-top: 200px;
}

.link:hover .contact-details__item {
    text-decoration: underline;
}
